<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>내전</title>
		<!-- bootstrap -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
			defer
		></script>
		<!-- CSS only -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<!-- 폰트 어썸: 아이콘 -->
		<script
			defer
			src="https://kit.fontawesome.com/7630448495.js"
			crossorigin="anonymous"
		></script>
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
			rel="stylesheet"
		/>
		<!-- JavaScript Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
		></script>
		<!-- navbar -->
		<script src="../components/headerNavbar.js" type="module" defer></script>
		<link rel="stylesheet" href="../components/headerNavbar.css" />
		<!-- 커스텀 css, js -->
		<!-- <link rel="stylesheet" href="../common.css" /> -->
		<link rel="stylesheet" href="scrim.css" />
		<script src="scrim.js" type="module" defer></script>
	</head>
	<body>
		<br />
		<div class="container" id="scrim-head">
			<h3 id="scrim-title"><strong>내전</strong></h3>
			<button class="purple-btn" id="scrim-register">
				<span class="scrim-content">내전 모집하기</span>
			</button>
		</div>
		<section class="section" id="scrim-body">
			<div class="container" id="gray-container">
				<div class="container">
					<p id="last-match">...지난경기 더보기</p>
				</div>
					<div class="container" id="white-container">
						<ul class="ul">
							<li>
								<button class="gray-btn" id="summoner-name">
									<span class="gray-content">아파요 머리가</span>
								</button>
								<span>님의</span>
								<button class="gray-btn">
									<span class="gray-content" id="scrim-date"
										>6월21일(화) PM9:00</span
									>
								</button>
								<span>내전 모집이 마감되었습니다.</span>
							</li>
							<li id="scrim-member">
								<button class="gray-btn">
									<span class="gray-content">1/10</span>
								</button>
							</li>
						</ul>
						<ul class="ul">
							<li>
								<button class="gray-btn" id="summoner-name">
									<span class="gray-content">아파요 머리가</span>
								</button>
								<span>님의</span>
								<button class="gray-btn">
									<span class="gray-content" id="scrim-date"
										>6월21일(화) PM9:00</span
									>
								</button>
								<span>내전 모집이 마감되었습니다.</span>
							</li>
							<li id="scrim-member">
								<button class="gray-btn">
									<span class="gray-content">9/10</span>
								</button>
							</li>
						</ul>
						<ul class="ul">
							<li>
								<button class="gray-btn" id="summoner-name">
									<span class="gray-content">아파요 머리가</span>
								</button>
								<span>님의</span>
								<button class="gray-btn">
									<span class="gray-content" id="scrim-date"
										>6월21일(화) PM9:00</span
									>
								</button>
								<span>내전 모집이 마감되었습니다.</span>
							</li>
							<li id="scrim-member">
								<button class="gray-btn">
									<span class="gray-content">10/10</span>
								</button>
							</li>
						</ul>
						<hr></hr>
						<ul class="ul">
							<li>
								<button class="light-purple-btn" id="summoner-name">
									<span class="light-purple-content">아파요 머리가</span>
								</button>
								<span>님의</span>
								<button class="light-purple-btn">
									<span class="light-purple-content" id="scrim-date"
										>6월22일(수) PM9:00</span
									>
								</button>
								<span>내전을 모집중입니다.</span>
							</li>
							<li id="scrim-member">
								<button class="purple-btn">
									<span class="purple-content">3/10</span>
								</button>
							</li>
						</ul>
						<ul class="ul">
							<li>
								<button class="light-purple-btn" id="summoner-name">
									<span class="light-purple-content">아파요 머리가</span>
								</button>
								<span>님의</span>
								<button class="light-purple-btn">
									<span class="light-purple-content" id="scrim-date"
										>6월22일(수) PM9:00</span
									>
								</button>
								<span>내전을 모집중입니다.</span>
							</li>
							<li id="scrim-member">
								<button class="purple-btn">
									<span class="purple-content">3/10</span>
								</button>
							</li>
						</ul>
						<hr></hr>
						<ul class="ul">
							<li>
								<button class="light-purple-btn" id="summoner-name">
									<span class="light-purple-content">아파요 머리가</span>
								</button>
								<span>님의</span>
								<button class="light-purple-btn">
									<span class="light-purple-content" id="scrim-date"
										>6월21일(목) PM10:00</span
									>
								</button>
								<span>내전을 모집중입니다.</span>
							</li>
							<li id="scrim-member">
								<button class="purple-btn">
									<span class="purple-content">3/10</span>
								</button>
							</li>
						</ul>
						<hr>
						<ul class="ul">
							<li>
								<button class="purple-btn">
									<span class="purple-content">모집하기</span>
								</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
