<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>내전</title>
		<!-- bootstrap -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
			defer
		></script>
		<!-- CSS only -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<!-- 폰트 어썸: 아이콘 -->
		<script
			defer
			src="https://kit.fontawesome.com/7630448495.js"
			crossorigin="anonymous"
		></script>
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
			rel="stylesheet"
		/>
		<!-- JavaScript Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
		></script>
		<!-- navbar -->
		<script src="../components/headerNavbar.js" type="module" defer></script>
		<link rel="stylesheet" href="../components/headerNavbar.css" />
		<!-- 커스텀 css, js -->
		<link rel="stylesheet" href="../common.css" />
		<link rel="stylesheet" href="scrim.css" />
		<script src="scrim.js" type="module" defer></script>
	</head>
	<body>
		<section class="section">
			<div class="container" id="scrim-head">
				<div class="title-box">
				<h1>내전</h1>
				<button class="submit">내전 모집하기</button>
				</div>
			</div>
			<div class="scrim-body" id="scrim-body">
				<button class="last-match" id="last-match">...지난경기 더보기</button>
				<div class="scrim-inner-box" id="white-container">
					<div class="scrim-date">
						<ul class="scrim-inner">
							<li>
								<span class="components">아파요 머리가</span>
								<span>님의</span>
								<span class="components" id="scrim-date">6월21일(화) PM9:00</span>
								<span>내전 모집이 마감되었습니다.</span>
							</li>
							<li id="scrim-member">
								<button class="components components--gray">1/10</button>
							</li>
						</ul>
					</div>
					<div class="scrim-date">
						<ul class="scrim-inner">
							<li>
								<span class="components">아파요 머리가</span>
								<span>님의</span>
								<span class="components" id="scrim-date">6월22일(수) PM9:00</span>
								<span>내전을 모집중입니다.</span>
							</li>
							<li id="scrim-member">
								<button class="btn">3/10</button>
							</li>
						</ul>
					</div>
					<div class="scrim-date">
						<ul class="scrim-inner">
							<li>
								<button class="btn">모집하기</button>
							</li>
						</ul>
					</div>
				</div>
				</div>
			</section>
		</section>
	</body>
</html>
