<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>내전</title>
		<!-- bootstrap -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
			defer
		></script>
		<!-- CSS only -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<!-- 폰트 어썸: 아이콘 -->
		<script
			defer
			src="https://kit.fontawesome.com/7630448495.js"
			crossorigin="anonymous"
		></script>
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
			rel="stylesheet"
		/>
		<!-- JavaScript Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
		></script>
		<!-- navbar -->
		<script src="../components/headerNavbar.js" type="module" defer></script>
		<link rel="stylesheet" href="../components/headerNavbar.css" />
		<!-- 커스텀 css, js -->
		<link rel="stylesheet" href="../common.css" />
		<link rel="stylesheet" href="scrim.css" />
		<script src="scrim.js" type="module" defer></script>
	</head>
	<body>
		<section class="section">
			<div class="container" id="scrim-head">
				<div class="title-box">
				<h1>내전</h1>
				<!-- Button trigger modal -->
				<button id="scrim-recruit-btn" class="submit" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">내전 모집하기</button>
		
				<!-- Modal -->
				<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">내전 모집하기</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p class="modal-title" id="staticBackdropLabel">내전 시간</p>
							<form>
								<p><input id="scrim-date-set" type="date" class="form-control"></p>
								<p><input id="scrim-time-set" type="time" class="form-control"></p>
							</form>

							<br>
							<p class="modal-title" id="staticBackdropLabel">*경고메시지(악용하지 마세요)</p>
							<br>
							<div class="modal-inner">
								<p class="modal-title" id="staticBackdropLabel">등록할 포지션</p>
								<div>
									<label for="myPositionTOP"><img src="/img/탑.png"></label>
									<input type="radio" id="myPositionTOP" name="myPosition"></input>
									<label for="myPositionJUNGLE"><img src="/img/정글.png"></label>
									<input type="radio" id="myPositionJUNGLE" name="myPosition"></input>
									<label for="myPositionMIDDLE"><img src="/img/미드.png"></label>
									<input type="radio" id="myPositionMIDDLE" name="myPosition"></input>
									<label for="myPositionBOTTOM"><img src="/img/원딜.png"></label>
									<input type="radio" id="myPositionBOTTOM" name="myPosition"></input>
									<label for="myPositionUTIL"><img src="/img/서폿.png"></label>
									<input type="radio" id="myPositionUTIL" name="myPosition"></input>
								</div>
							</div>
						</div>
						<div class="modal-footer">
						<button type="button" class="scrim-member close" data-bs-dismiss="modal">닫기</button>
						<button type="button" class="scrim-member open" id="scrim-submit-btn">등록</button>
						</div>
					</div>
					</div>
				</div>
				</div>
			</div>
			<div class="scrim-body" id="scrim-body">
				<button class="last-match" id="last-match">...지난경기 더보기</button>
				<div class="scrim-inner-box" id="white-container">
					<div class="scrim-item-box">
						<h3 class="scrim-date" id="yesterdayTimeset">
							어제
						</h3>
						<div class="scrim-inner">
							<ul>
								<li>
									<span class="components close" id="scrim-recruiter">아파요 머리가</span>
									<span>님의</span>
									<span class="components close" id="scrim-date">6월21일(화) PM9:00</span>
									<span>내전 모집이 마감되었습니다.</span>
								</li>
								<button class="scrim-member close">1/10</button>
							</ul>
							<ul>
								<li>
									<span class="components close">아파요 머리가</span>
									<span>님의</span>
									<span class="components close" id="scrim-date">6월21일(화) PM9:00</span>
									<span>내전 모집이 마감되었습니다.</span>
								</li>
								<button class="scrim-member close">10/10</button>
							</ul>
						</div>
					</div>
					<div class="scrim-item-box">
						<h3 class="scrim-date" id="todayTimeset">
							오늘
						</h3>
						<div class="scrim-inner">
							<ul>
								<li>
									<span class="components">아파요 머리가</span>
									<span>님의</span>
									<span class="components" id="scrim-date">6월22일(수) PM9:00</span>
									<span>내전을 모집중입니다.</span>
								</li>
								<button class="scrim-member">3/10</button>
							</ul>
						</div>
					</div>
					<div class="scrim-item-box">
						<h3 class="scrim-date" id="tomorrowTimeset">
							<!-- 23(목) -->
						</h3>
						<div class="scrim-inner">
							<ul>
								<li>
									<span class="components">아파요 머리가</span>
									<span>님의</span>
									<span class="components" id="scrim-date">6월22일(수) PM9:00</span>
									<span>내전을 모집중입니다.</span>
								</li>
								<button class="scrim-member">0/10</button>
							</ul>
						</div>
					</div>
					<div class="scrim-item-box">
						<h3 class="scrim-date" id="dayaftertomorrowTimeset">
							<!-- 24(금) -->
						</h3>
						<div class="scrim-inner">
							<ul>
								<button class="scrim-member">모집하기</button>
							</ul>
						</div>
					</div>
				</div>
				</div>
			</section>
		</section>
	</body>
</html>
