<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>랭킹</title>
		<!-- bootstrap -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
			defer
		></script>
		<!-- CSS only -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<!-- 폰트 어썸: 아이콘 -->
		<script
			defer
			src="https://kit.fontawesome.com/7630448495.js"
			crossorigin="anonymous"
		></script>
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
			rel="stylesheet"
		/>
		<!-- JavaScript Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
		></script>
		<!-- navbar -->
		<script src="/components/headerNavbar.js" type="module" defer></script>
		<link rel="stylesheet" href="/components/headerNavbar.css" />
		<!-- 커스텀 css, js -->
		<link rel="stylesheet" href="ranking.css" />
		<script src="ranking.js" type="module" defer></script>
	</head>
	<body>
		<br />
		<div class="container" id="rank-head">
			<h3><strong>랭킹</strong></h3>
		</div>
		<hr />
		<div class="container" id="rank-head">
			<button class="elice-btn">
				<span class="rank-category">엘리스 랭킹</span>
			</button>
		</div>
		<br />
		<div class="table-responsive" id="rank-container">
			<div class="top-circle"><div class="arrow arrow--top"></div></div>
			<table class="table" id="rank-table">
				<thead>
					<tr style="border-bottom: 1px solid #6667ab; background: #f7f7f9">
						<th scope="col">#</th>
						<th scope="col">소환사</th>
						<th scope="col">티어</th>
						<th scope="col">LP</th>
						<th scope="col">모스트 챔피언</th>
						<th scope="col">승률</th>
					</tr>
				</thead>
				<tbody id="rank-item-table">
					<tr>
						<th scope="row">1</th>
						<td class="summoner-name">어리고 싶다</td>
						<td>Challenger</td>
						<td>1144 LP</td>
						<td>
							<div class="most3">
								<div class="circle"></div>
								<div class="circle"></div>
								<div class="circle"></div>
							</div>
						</td>
						<td>56%</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>어리고 싶다</td>
						<td>Challenger</td>
						<td>1144 LP</td>
						<td>
							<div class="most3">
								<div class="circle"></div>
								<div class="circle"></div>
								<div class="circle"></div>
							</div>
						</td>
						<td>56%</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>어리고 싶다</td>
						<td>Challenger</td>
						<td>1144 LP</td>
						<td>
							<div class="most3">
								<div class="circle"></div>
								<div class="circle"></div>
								<div class="circle"></div>
							</div>
						</td>
						<td>56%</td>
					</tr>
					<tr>
						<th scope="row">4</th>
						<td>어리고 싶다</td>
						<td>Challenger</td>
						<td>1144 LP</td>
						<td>라이즈 요네 아리</td>
						<td>56%</td>
					</tr>
					<tr>
						<th scope="row">5</th>
						<td>어리고 싶다</td>
						<td>Challenger</td>
						<td>1144 LP</td>
						<td>라이즈 요네 아리</td>
						<td>56%</td>
					</tr>
					<tr>
						<th scope="row">6</th>
						<td>어리고 싶다</td>
						<td>Challenger</td>
						<td>1144 LP</td>
						<td>라이즈 요네 아리</td>
						<td>56%</td>
					</tr>
					<tr>
						<th scope="row">7</th>
						<td>어리고 싶다</td>
						<td>Challenger</td>
						<td>1144 LP</td>
						<td>라이즈 요네 아리</td>
						<td>56%</td>
					</tr>
					<tr>
						<th scope="row">8</th>
						<td>어리고 싶다</td>
						<td>Challenger</td>
						<td>1144 LP</td>
						<td>라이즈 요네 아리</td>
						<td>56%</td>
					</tr>
					<tr>
						<th scope="row">9</th>
						<td>어리고 싶다</td>
						<td>Challenger</td>
						<td>1144 LP</td>
						<td>라이즈 요네 아리</td>
						<td>56%</td>
					</tr>
					<tr>
						<th scope="row">10</th>
						<td>어리고 싶다</td>
						<td>Challenger</td>
						<td>1144 LP</td>
						<td>라이즈 요네 아리</td>
						<td>56%</td>
					</tr>
					<tr>
						<th scope="row">11</th>
						<td>어리고 싶다</td>
						<td>Challenger</td>
						<td>1144 LP</td>
						<td>라이즈 요네 아리</td>
						<td>56%</td>
					</tr>
					<tr>
						<th scope="row">12</th>
						<td>어리고 싶다</td>
						<td>Challenger</td>
						<td>1144 LP</td>
						<td>라이즈 요네 아리</td>
						<td>56%</td>
					</tr>
					<tr>
						<th scope="row">13</th>
						<td>어리고 싶다</td>
						<td>Challenger</td>
						<td>1144 LP</td>
						<td>라이즈 요네 아리</td>
						<td>56%</td>
					</tr>
					<tr>
						<th scope="row">14</th>
						<td>어리고 싶다</td>
						<td>Challenger</td>
						<td>1144 LP</td>
						<td>라이즈 요네 아리</td>
						<td>56%</td>
					</tr>
					<tr>
						<th scope="row">15</th>
						<td>어리고 싶다</td>
						<td>Challenger</td>
						<td>1144 LP</td>
						<td>라이즈 요네 아리</td>
						<td>56%</td>
					</tr>
					<tr>
						<th scope="row">16</th>
						<td>어리고 싶다</td>
						<td>Challenger</td>
						<td>1144 LP</td>
						<td>라이즈 요네 아리</td>
						<td>56%</td>
					</tr>
					<tr>
						<th scope="row">17</th>
						<td>어리고 싶다</td>
						<td>Challenger</td>
						<td>1144 LP</td>
						<td>라이즈 요네 아리</td>
						<td>56%</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
