/* common */
@font-face {
	font-family: 'PyeongChangPeace-Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
}
hr {
	margin: 7px 0;
	color: inherit;
	border: 0;
	border-top: 1px solid;
	opacity: 0.25;
}

.border-none {
	border: none;
}
.border-none:hover {
	border: none;
}
.mt-auto {
	margin-top: auto;
}
.SLE-logo {
	line-height: 1em;
	font-family: 'PyeongChangPeace-Bold';
}
.p {
	margin-bottom: 0;
}
.bg-color-VeryPeri {
	background-color: #6667ab;
}
.bg-color-white {
	background-color: #ffffff;
}
.bg-color-gray {
	background-color: #efefef;
}
.color-VeryPeri {
	color: #6667ab;
}
.fs-14 {
	font-size: 14px;
}
.fs-16 {
	font-size: 16px;
}
.fs-24 {
	font-size: 24px;
}
.fs-20 {
	font-size: 20px;
}
.fs-40 {
	font-size: 40px;
}
.fs-48 {
	font-size: 48px;
}
.h40w40 {
	height: 40px;
	width: 40px;
}
.h140w140 {
	height: 140px;
	width: 140px;
}
.h28w28 {
	height: 28px;
	width: 28px;
}
.h14w14 {
	height: 14px;
	width: 14px;
}
.color-red {
	color: #d31a45;
}
.color-gary-bold {
	color: #6c6c6c;
}
.color-gary {
	color: #9e9e9e;
}
.color-green {
	color: #3abe87;
}
.color-505050 {
	color: #505050;
}
.font-inter-bold {
	font-family: 'Inter';
	font-weight: bold;
}
.margin-lr-10 {
	margin-left: 10px;
	margin-right: 10px;
}

.box-space-around {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-around;
}
.box-space-evenly {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-evenly;
}
.box-space-between {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}
.flex-center-center-column {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.flex-center-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex {
	display: flex;
}
/* Nav 바 */
.navbar-toggler:focus {
	box-shadow: none;
}

.DocSearch-Search-Icon {
	stroke-width: 1.6;
}
.login {
	width: 80px;
}
.btn-sign-up:hover {
	color: #ffffff;
	background-color: #6667ab;
	border-color: #ffffff;
}
@media (min-width: 992px) {
	.control-input {
		width: 420px !important;
		height: 50px;
	}
	.control-display-mobile {
		display: none !important;
	}
}
@media (max-width: 992px) {
	.control-display-web {
		display: none !important;
	}
}
.col {
	padding: 0;
}

/* pvp main */
.display-inline {
	display: inline;
}
.row {
	box-sizing: border-box;
}
.item-box {
	padding: 0;
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0 auto;
}
.player-tier-inf {
	margin-top: 20px;
}
.icon-level-box {
	position: relative;
}
.icon-level-box .profile-icon {
	width: 128px;
	height: 128px;
	border-radius: 5px;
}
.icon-level-box .profile-level {
	position: absolute;
	color: #fff;
	background-color: #444444;
	height: 26px;
	width: 50px;
	border-radius: 26px;
	text-align: center;
	left: 40px;
	top: 116px;
}
.item-name {
	width: 350px;
	height: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.name-renewal-box {
	margin-left: 20px;
	width: 100%;
}

.btn-renewal {
	background-color: #6667ab;
	color: #ffffff;
}
.btn-renewal:hover {
	color: #6667ab;
	background-color: #ffffff;
	border-color: #6667ab;
}
.profile-name {
	font-size: 24px;
	color: #000;
	font-weight: 600;
}
.profile-ranking {
	font-size: 14px;
	color: darkgray;
	margin-bottom: 2rem;
}
.solo-rank-inf-box {
	width: 100%;
	margin: 20px auto;
	background: #ffffff;
	padding: 20px;
	box-shadow: 4px 4px 30px rgb(0 0 0 / 7%);
	border-radius: 5px;
}

.rank-inf-box {
	margin-left: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.rank-inf-box .profile-currunt-ranking {
	color: #505050;
}

.gamebox {
	flex: 2 0 0;
	color: #6c6c6c;
}
.current-20game-winrate {
	font-size: 16px;
}
.elice-rank-name-box {
	height: 28px;
	align-items: center;
	display: flex;
}
.rank-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 170px;
	height: 115px;
	flex-direction: column;
	box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.07);
	border-radius: 5px;
}
.elice-icon {
	width: 21px;
	height: 19px;
	margin-left: 4px;
	margin-bottom: 2px;
}
.controlward {
	display: flex;
	align-items: center;
}
.contentsbox {
	width: 100%;

	margin: 20px auto;
	background: #ffffff;
	padding: 20px;
	box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.07);
	border-radius: 5px;
}

.mobile-padding-top {
	padding-top: 1rem;
}
@media (max-width: 1400px) {
	.mobile-padding-top {
		padding-top: 0.25rem;
	}
}

@media (max-width: 1200px) {
	.row {
		flex-direction: column-reverse;
	}
	.contentsbox {
		margin-top: 0px;
		width: 545px;
	}

	.mobile-padding-top {
		padding-top: 1rem;
	}
	.item-name {
		margin-bottom: 15px;
	}
}
@media (max-width: 992px) {
	.fs-40 {
		font-size: 24px;
	}
	.fs-24 {
		font-size: 18px;
	}
	.fs-20 {
		font-size: 15px;
	}
	.contentsbox {
		width: 95%;
	}
}

/*  추가 ㅠㅜㅠㅜㅠㅜ */
.gamelogbox {
	width: 100%;
	margin: 10px auto;
	background: #ffffff;

	box-shadow: 4px 4px 30px rgb(0 0 0 / 7%);
	border-radius: 5px;
}
.line-pick {
	padding: 0;
	width: 20px;
	height: 74px;
	background-color: #efefef;
	margin: 0 auto;
}
.blueteams,
.redteams {
	font-size: 11px;
	width: 140px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.pd-1 {
	padding: 10px 0;
	box-sizing: border-box;
}
.redteam,
.blueteam {
	margin: 3px 0;
}
.champImg {
	margin-right: 3px;
}
.wincolorline {
	height: 80px;
	width: 10px;
	background-color: #4990e2;
}
.topborder:not(:first-child) {
	color: inherit;
	border-top: 1px solid #e5e5e5;
}
