/* BASE */
*,
::before,
::after {
	box-sizing: border-box;
}
body {
	position: relative;
	margin: 0;
	font-size: 15px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
}
h1 {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
.btn {
    background: #6667AB;
    border: 1px solid #6667AB;
    border-radius: 50px;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    box-sizing: border-box;
    transition: all 0.5s;
}
.btn:hover {
    background: #fff;
    border: 1px solid #6667AB;
    border-radius: 50px;
    padding: 10px 20px;
    text-align: center;
    color: #6667AB;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    box-sizing: border-box;
}
.btn--reverse {
    background: #fff;
    border: 1px solid #fff;
    color: #000;
}
.btn--reverse:hover {
    background: #6667AB;
    border: 1px solid #6667AB;
    color: #fff;
}

/* HEADER */
.background {
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: absolute;
}
.wrapper {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 100%;
}
.wrapper-img {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;
}
nav {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 120px;
    font-size: 34px;
    font-weight: 700;
}
.nav-list {
    display: flex;
}
.nav-list > li {
    margin-right: 40px;
}
.account {
    display: flex;
    align-items: center;
}
.account > li {
    margin-left: 10px;
}

main {
    height: calc(100vh - 100px - 50px);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.main-container {
    position: relative;
    height: 100%;
}

.title {
    font-size: 64px;
    font-weight: 500;
    line-height: 76px;
    font-family: 'Inter', sans-serif;
    padding-top: 80px;
}
.title > .text {
    color: #6667AB;
}

.search-contaienr {
    margin-top: 80px;
    display: flex;
    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.25));
    z-index: 9;
    position: absolute;
    left: 0;
}

input {
	width: 350px;
    height: 80px;
	border: none;
	padding: 0 1rem;
    font-size: 18px;
}

input:focus {
	outline: none !important;
	border: none;
	background-color: #fff;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fff inset;
}
.search-contaienr > button {
    width: 80px;
    height: 80px;
    background: #6667AB;
    border: none;
}
.material-icons {
    color: #fff;
    font-size: 40px;
}

.list-card {
    display: flex;
    margin-left: 80px;
    
}

.card {
    width: 150px;
    height: 560px;
    background-color: #F7F7F9;
    margin-left: 30px;
    border-radius: 20px;
    padding: 40px 10px 40px 20px;
    display: flex;
    justify-content: end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    cursor: pointer;
    position: relative;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 560px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.52%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: 0px 0px 20px 20px;
}

.spread {
    width: 350px;
    padding-right: 30px;
}

.card > span {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    align-self: flex-end;
    z-index: 8;
    text-align:right;
}