body {
  background: #F7F7F9;
}
.container {
  width: 532px;
  background: #FFFFFF;
  padding: 50px;
  margin: 0 auto 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.container > h1 {
  font-weight: 600;
  font-size: 24px;
}
.form-box {
  padding: 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 410px;
}
.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  width: 100%;
}
.form-group > input {
border: 1px solid #ECECEC;
  padding: 15px 20px;
  margin-top: 6px;
  font-size: 16px;
}

.form-group > input:focus {
outline: none !important;
border: 1px solid #6667AB;
background-color: #fff;
}
input:-webkit-autofill {
-webkit-box-shadow: 0 0 0 1000px #fff inset;
}

.submit {
  margin: 20px 0 20px;
}
.container > span {
  font-size: 14px;
  color: #999999;
}
.atag {
  color: #6667AB;
  border-bottom: 1px solid #6667AB;
}